/* --------------------All-------------------- */
*{
    box-sizing: border-box;
}

body{
    background-color: #9683C1;
}

h1{
    font-family: 'Oi', cursive;
    font-weight: 500;
    font-size: 200px;
    color: #F2E9E4;
    text-shadow: 0.1em 0.1em #0D0A0B;
    -webkit-text-stroke: #0D0A0B 3px;
    margin-top: -70px;
    text-align: center;
    letter-spacing: 0.15rem;
}

h2{
    font-family: 'Oi', cursive;
    font-weight: 500;
    font-size: 82px;
    color: #F2E9E4;
    -webkit-text-stroke: #0D0A0B 3px;
    text-align: center;
}

h3{
    font-family: 'Oi', cursive;
    font-weight: 500;
    font-size: 45px;
    color: #F2E9E4;
    -webkit-text-stroke: #0D0A0B 3px;
    text-align: center;
}

p{
    font-family: 'Cormorant', serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 7px;
}

.email{
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: #9683C1;
    border: #0D0A0B 2px solid;
    border-radius: 20px;
    height: 35px;
    width: 200px;
    box-shadow: 5px 5px #0D0A0B;
    transition: linear 0.2s;
}

.email:hover{
    background-color: #F2E9E4;
    right:15px;
    top:20px;
    box-shadow: none;
}

marquee p{
    font-family: 'Cormorant', serif;
    writing-mode: vertical-lr;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1rem;
}

.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.menu{
    position: relative;
    width: 90px;
    background-color: #F2E9E4;
    border: #0D0A0B 2px solid;
}

.mobilelogo{
    display: none;
}

.logo{
    width: 50px;
    position: absolute;
    top: 10px;
    left: calc(50% - 25px);
}

marquee{
    position: relative;
    top: 90px;
    height: 100%;
    width: 50px;
}

.content{
    width: 100%;
    height: 100%;
    padding: 10px 100px;
}

.doors{
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
}

.linkspanner{
    position: absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 30;
}

.doorabout{
    position: relative;
    width: 550px;
    height: 550px;
    border: #0D0A0B 2px solid;
    border-radius: 50% 50% 0 0;
    background-image: url(../img/about.jpg);
    background-size: 100%;
    transition: all .7s;
}

.doorabout:hover{
    background-size: 115% ;
    transition: all .3s;
}

.doorprojects{
    position: relative;
    width: 550px;
    height: 550px;
    border: #0D0A0B 2px solid;
    border-radius: 50% 50% 0 0;
    background-image: url(../img/projects.jpg);
    background-size: 100%;
    transition: all .7s;
}

.doorprojects:hover{
    background-size: 115% ;
    transition: all .3s;
}

.mobile{
    display: none;
    position: absolute;
    left: calc(50% - 160px);
    top: 35%;
}

.arrow{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 75%;
    z-index: 20;
}

.span{
    position: absolute;
    height: 90px;
    width: 90px;
    left: 75%;
    animation: spin 6s linear infinite;
    animation-play-state: running; 
    z-index: 10;
}

.span:hover{
    animation-play-state: paused;
}

@keyframes spin {
    100% {transform: rotate(1turn); }
}

svg{
    position: relative;
}

path {
    fill:transparent;
}

text{
    font-family: 'Oi', cursive;
    font-weight: 300;
    fill: #F2E9E4;
    stroke: #0D0A0B;
    stroke-width: 2px;
    font-size: 20px;        letter-spacing: 0.1rem;
    position: relative;
}

/* ----------------- 1800px ----------------- */

@media (min-width: 1800px) {

    h1{
        font-size: 250px;
    }
    
    h2{
        font-size: 105px;
        text-align: center;
    }

    .doors{
        margin-top: -150px;
    }

    .doorabout{
        width: 700px;
        height: 700px;
    }

    .doorprojects{
        position: relative;
        width: 700px;
        height: 700px;
    }

}

/* ----------------- 1400px ----------------- */

@media (max-width: 1400px) {

    h1{
        font-size: 180px;
        margin-top: -40px;
    }

    h2{
        font-size: 75px;
    }

    .content{
        padding: 60px 70px;
    }

}

/* ----------------- 1200px ----------------- */

@media (max-width: 1200px) {

    h1{
        font-size: 150px;
        margin-top: -30px;
    }

    h2{
        font-size: 64px;
    }

    h3{
        font-size: 60px;

    }

    .doors{
        margin-top: -40px;
    }

    .doorabout{
        width: 480px;
        height: 480px;
    }

    .doorprojects{
        width: 480px;
        height: 480px;
    }

    .email{
        right: 30px;
        top: 30px;
        box-shadow: 5px 5px #0D0A0B;
        transition: linear 0.2s;
    }

}


/* -----------------1024----------------- */

@media (max-width: 1024px) {

    h1{
        font-size: 140px;
        margin-top: -30px;
    }

    h2{
        font-size: 59px;
    }

    .content{
        padding: 60px 10px 0px 10px;
    }

    .doors{
        display: block;
        margin-top: -50px;
    }

    .doorabout{
        width: 800px;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 32px;
    }

    .doorprojects{
        width: 800px;
        height: 500px;
        margin: 0 auto;
    }

    text textPath{
        display: none;
    }

    .email{
        right: 30px;
        top: 30px;
        background-color: #F2E9E4;
    }

    .mobile{
        display: block;
        left: calc(50% - 211px);
        top: 35%;
    }
}

/* -----------------768----------------- */

@media (max-width: 768px) {

    h1{
        font-size: 100px;
        margin-top: -30px;
    }

    h2{
        font-size: 43px;
    }

    .doors{
        margin-top: -40px;
    }

    .doorabout{
        width: 540px;
        height: 350px;
    }

    .doorprojects{
        width: 540px;
        height: 350px;
    }

}

/* -----------------414----------------- */

@media (max-width: 414px) {

    .mobilelogo{
        position: absolute;
        display: inline-block;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        z-index: 20;
    }

    .menu{
        display: none;
    }

    h1{
        font-size: 60px;
        margin-top: -15px;
    }

    h2{
        font-size: 26px;
        margin-top: 50px;
    }

    h3{
        font-size: 40px;
    }

    .doors{
        margin-top: -20px;
    }

    .doorabout{
        width: 360px;
        height: 250px;
        margin-bottom: 30px;
    }

    .doorprojects{
        width: 360px;
        height: 250px;
    }

    text textPath{
        display: none;
    }

    .email{
        right: 25px;
        top: 25px;
        background-color: #F2E9E4;
    }

    .arrow{
        height: 60px;
        width: 60px;
    }
    
    .span{
        height: 60px;
        width: 60px;
    }

    .mobile{
        left: calc(50% - 140px);
        top: 35%;
    }
}

/* -----------------375----------------- */

@media (max-width: 375px) {

    .container{
        overflow: visible;
    }

    h1{
        font-size: 52px;
        margin-top: -15px;
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 36px;
    }

    .doors{
        margin-top: 50px;
    }

    .doorabout{
        width: 340px;
        height: 260px;
    }

    .doorprojects{
        width: 340px;
        height: 260px;
    }

    .mobile{
        left: calc(50% - 130px);
    }
}

/* -----------------320----------------- */

@media (max-width: 320px) {

    h1{
        font-size: 45px;
        margin-top: -10px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 34px;
    }

    .doors{
        margin-top: 50px;
    }

    .doorabout{
        width: 280px;
        height: 220px;
    }

    .doorprojects{
        width: 280px;
        height: 220px;
    }

    .mobile{
        left: calc(50% - 120px);
    }
}