/* --------------------All-------------------- */
*{
    box-sizing: border-box;
}

body{
    background-color: #9683C1;
}

p{
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.1rem;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
}

.mobilelogo{
    display: none;
}

.menu{
    position: fixed;
    width: 90px;
    height: 100%;
    background-color: #F2E9E4;
    border: #0D0A0B 2px solid;
}

.logo{
    width: 50px;
    position: absolute;
    top: 10px;
    left: calc(50% - 25px);
}

.buttona{
    width: 50px;
    height: 130px;
    border-radius: 25px;
    background-color: #F2E9E4;
    border: #0D0A0B 2px solid;
    position: absolute;
    left: calc(50% - 25px);
    top:90px;
    display: flex;
    justify-content: center;
}

.buttona:hover{
    background-color: #9683C1;
}

.buttona p{
    font-weight: 600;
    font-size: 30px;
    color: #0D0A0B;
    writing-mode: vertical-rl;
    text-align: center;
}

.buttonp{
    width: 50px;
    height: 155px;
    border-radius: 25px;
    background-color: #0D0A0B;
    border: #0D0A0B 2px solid;
    position: absolute;
    left: calc(50% - 25px);
    top:240px;
    display: flex;
    justify-content: center;
}

.buttonp p{
    font-weight: 600;
    font-size: 30px;
    color: #F2E9E4;
    writing-mode: vertical-rl;
    text-align: center;
}

.linkspanner{
    position: absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 30;
}

/* ---------------- works ---------------- */

.content{
    position: absolute;
    width: calc(100% - 90px);
    left:90px;
    display: flex;
    flex-wrap: wrap;
}

.work{
    width: 33.33%;
    height: 400px;
    background-color: #9683C1;
    border: #0D0A0B 2px solid;
    border-left:none; 
    border-bottom:none; 
    float:left;
    position: relative;
    transition: linear 0.2s;
}

.work:hover{
    background-color: #0D0A0B;
}

.photo{
    width: 100%;
    height: 95%;
    position: absolute;
    border: #0D0A0B 1px solid;
    border-radius: 50% 50% 0 0;
    bottom: 0;
    overflow: hidden;
}

.photocar, .photoorderly, .photochick, .photosmart, .photolife, .photoiloan, .photokyc, .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10, .photo11,.photo12{
    background-size: 100%;   
    transition: linear 0.2s;
}

.photocar{
    background-image: url(../img/car00.jpg);
}
.photocar:hover{
    background-image: url(../img/car0.jpg);
    background-size: 105%;   
}

.photoorderly{
    background-image: url(../img/Orderly00.jpg);
}
.photoorderly:hover{
    background-image: url(../img/Orderly0.jpg);
    background-size: 105%;   
}

.photochick{
    background-image: url(../img/chick00.png);
}
.photochick:hover{
    background-image: url(../img/chick0.png);
    background-size: 105%;   
}

.photosmart{
    background-image: url(../img/smart00.jpg);
}
.photosmart:hover{
    background-image: url(../img/smart0.jpg);
    background-size: 105%;   
}

.photolife{
    background-image: url(../img/life00.jpg);
}
.photolife:hover{
    background-image: url(../img/life0.jpg);
    background-size: 105%;   
}

.photoiloan{
    background-image: url(../img/iloan00.jpg);
}
.photoiloan:hover{
    background-image: url(../img/iloan0.jpg);
    background-size: 105%;   
}

.photokyc{
    background-image: url(../img/kyc00.jpg);
}
.photokyc:hover{
    background-image: url(../img/kyc0.jpg);
    background-size: 105%;   
}

.photo1{
    background-image: url(../img/po00.jpg);
}
.photo1:hover{
    background-image: url(../img/po0.jpg);
    background-size: 105%;   
}

.photo2{
    background-image: url(../img/dr00.jpg);
}
.photo2:hover{
    background-image: url(../img/dr0.jpg);
    background-size: 105%;   
}

.photo3{
    background-image: url(../img/pc00.jpg);
}
.photo3:hover{
    background-image: url(../img/pc0.jpg);
    background-size: 105%;   
}

.photo4{
    background-image: url(../img/re00.jpg);
}
.photo4:hover{
    background-image: url(../img/re0.jpg);
    background-size: 105%;   
}

.photo5{
    background-image: url(../img/sex00.jpg);
}
.photo5:hover{
    background-image: url(../img/sex0.jpg);
    background-size: 105%;   
}

.photo6{
    background-image: url(../img/bl00.jpg);
}
.photo6:hover{
    background-image: url(../img/bl0.jpg);
    background-size: 105%;   
}

.photo7{
    background-image: url(../img/fi00.jpg);
}
.photo7:hover{
    background-image: url(../img/fi0.jpg);
    background-size: 105%;   
}

.photo8{
    background-image: url(../img/egg00.jpg);
}
.photo8:hover{
    background-image: url(../img/egg0.jpg);
    background-size: 105%;   
}

.photo9{
    background-image: url(../img/woo00.jpg);
}
.photo9:hover{
    background-image: url(../img/woo0.jpg);
    background-size: 105%;   
}

.photo10{
    background-image: url(../img/en00.jpg);
}
.photo10:hover{
    background-image: url(../img/en0.jpg);
    background-size: 105%;   
}

.photo11{
    background-image: url(../img/ta00.jpg);
}
.photo11:hover{
    background-image: url(../img/ta0.jpg);
    background-size: 105%;   
}

.photo12{
    background-image: url(../img/na00.jpg);
}
.photo12:hover{
    background-image: url(../img/na0.png);
    background-size: 105%;   
}



.title{
    position: absolute;
    width: 100%;
    height: 60px;
    border: #0D0A0B 2px solid;
    background-color: #F2E9E4;
    bottom: 0;
    border-right: none;
    border-left: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 7%;
    top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span p{
    position: absolute;
    font-family: 'Oi', cursive;
    font-weight: 100;
    font-size: 16px;
    color: #F2E9E4;
    text-align: center;
    top: 18px;
    z-index: 20;
}

.span{
    animation: spin 6s linear infinite;
    animation-play-state: running; 
    z-index: 10;
}

@keyframes spin {
    100% {transform: rotate(1turn); }
}

/* ----------------- 1200px ----------------- */

@media (max-width: 1200px) {

    .work{
        height: 350px;
    }
    
}

/* ----------------- 1024px ----------------- */

@media (max-width: 1024px) {

    .work{
        height: 400px;
    }

    p{
        font-size: 26px;
    }

}

/* ----------------- 768px ----------------- */

@media (max-width: 768px) {

    
    .work{
        height: 280px;
    }

    p{
        font-size: 20px;
    }

    span{
        width: 60px;
        height: 60px;
        right: 8%;
        top: 8%;
    }

    span p{
        font-size: 12px;
        color: #F2E9E4;
        top: 14px;
    }
    
}

/* ----------------- 414px ----------------- */

@media (max-width: 414px) {

    .menu{
        display: none;
    }

    .mobilelogo{
        position: fixed;
        display: inline-block;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        z-index: 50;
    }

    .content{
        width: 100%;
        left: 0;
    }

    .work{
        width: 100%;
        height: 330px;
    }
    
}
